@charset "UTF-8";

* {
  font-family: 'Shippori Mincho B1', serif;
}
body{
    background-image: linear-gradient(to bottom,#ffadad, #ffc6ff, #bdb2ff,#a0c4ff, #9bf6ff);
}
main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
    box-shadow: 10px 15px 15px rgba(128, 128, 128, 0.788);
}
h1{
    color: #B34444;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(205, 92, 92, 0.534);
}

h2{
    color: #ff8484;
}

p{
    text-align: justify ;
}