

body{
    background-image: url(pexels-quang-nguyen-vinh-2166711.jpg);
}
h1{
    color: lightslategray;
    text-align: center;
}
h2{
    color:grey;
    text-align: center;
}
a{
    color: rgb(70, 66, 66);
}